<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
<!-- Fix the padding-top for this reset password button and remove <br /> -->
<br />

<%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-lg" %>
<% end %>
<br />
<%= render "devise/shared/links" %>
